

<form class="view-select">
  <md-select #filmCardView placeholder="View" 
    name="view" [(ngModel)]="selectedViewValue">
    <md-option *ngFor="let view of views" [value]="view.value">
      {{view.viewValue}}
    </md-option>
  </md-select>
</form>

<h4>{{description}}</h4>

<div class="row">
  <film-card *ngFor="let film of films" [film]="film" [view]="selectedViewValue"></film-card>
</div>

<div [hidden]="isAddingNewFilms">
  <button (click)="addNextFilmsPage()" 
    md-raised-button [disabled]="isAddFilmsButtonDisabled()">Add more</button>
</div>

<div [hidden]="!isShownAddMoreProgressSpinner()">
  <md-spinner></md-spinner>
</div>

<div class="go-up-btn">
  <a showIfScroll [scrollLimit]="50" md-mini-fab><md-icon>arrow_upward</md-icon></a>
</div>

 <!--href="#top"-->
