

    <div class="col s12 m6 l6" [hidden]="isPosterUp()">
      <div class="card">
        <div class="card-image">
          <img [src]="getPosterUrl()">
        </div>
        <div class="card-content">
          <span class="card-title">{{film.title}}</span>
        </div>
      </div>
    </div>

  <div class="col s12 m6 l6" [hidden]="isPosterRight()">
    <div class="card horizontal">
      <div class="card-image">
        <img [src]="getPosterUrl()">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">{{film.title}}</span>
        </div>
      </div>
    </div>
  </div>